.buttonpage {
  box-sizing: border-box;
  padding-top: 53px;
  padding-left: 83px;
}

p {
  font-size: 13px;
  margin-bottom: 10px;
}

.buttonRow {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.buttonbox {
  width: 300px;
}

.headings {
  margin-bottom: 8px;
}

.footer {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(169, 169, 169, 1);
}

.username {
  font-weight: 700;
  text-decoration: underline;
}
